
/* Estilos generales */
@import 'node_modules/bulma/bulma';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Configuración de fuentes */
* {
  font-family: 'Roboto', sans-serif;
}


/* Variables de colores */
$background-color: #000000;
$colorFondoIconos: #fff;
$colorLetras: white;
$colorBotonMenuDetalle: #ff9800;
$border-color: #ff9800;
$botonVender: #e22b2b;
$botonComprar: #191970;
$margin-top: 5px;
$cardTitleColor: #ff9800;


/* Estilos para la barra de navegación */
.navbar {
  background-color: $background-color;

  .navbar-brand .navbar-item {
    color: $colorFondoIconos;
  }

  .navbar-burger span {
    background-color: $colorFondoIconos;
  }



  .navbar-menu .navbar-item {
    color: $colorFondoIconos;
    background-color: $background-color;

    .icon {
      color: $colorFondoIconos;

    }



    &.has-dropdown .navbar-link {
      color: $colorFondoIconos;
      background-color: $background-color;
    }

    &.has-dropdown .navbar-dropdown {
      background-color: $background-color;
    }

  }


}

.button.is-primary {
  background-color: $colorBotonMenuDetalle;
  border-color: $colorBotonMenuDetalle;

  &:hover {
    background-color: lighten($colorBotonMenuDetalle, 10%);
    border-color: lighten($colorBotonMenuDetalle, 10%);
  }
}
/* Estilos para notificaciones */
.notification {
  background-color: #f4f4f4;
  color: $background-color;
  border-color: $colorBotonMenuDetalle;

  &.is-primary {
    background-color: $colorBotonMenuDetalle;
    color: #fff;
  }
}

#not3 {
  background-color: darkred;
}

#not4 {
  background-color: indigo;
}


#not5 {
  background-color:#e22b2b;
}

#not6 {
  background-color:cadetblue;
}
/* Estilos para pestañas */
.tabs {
  ul {
    li {
      a {


        &:hover {
          color: darken($colorBotonMenuDetalle, 10%);
        }
      }

      &.is-active a {
        color: $colorBotonMenuDetalle;
      }
    }
  }
}

/* Estilos botón vender */
#vender {
  background-color: $botonVender;
  border-color: $botonVender;
  margin-top: 5px;
}
/* Estilos botón comprar */
#comprar {
  background-color: $botonComprar;
  border-color: $botonComprar;
  margin-top: 5px;
}





/* Estilos footer */
.footer {
  background-color: $background-color;
  color: $colorBotonMenuDetalle;

  .link {
    color: $colorBotonMenuDetalle;

    &:hover {
      color: lighten($colorBotonMenuDetalle, 20%);
    }
  }
}

/* Estilos botones */
.button {
  &.is-primary {
    background-color: $colorBotonMenuDetalle;
    border-color: $colorBotonMenuDetalle;

    &:hover {
      background-color: lighten($colorBotonMenuDetalle, 10%);
      border-color: lighten($colorBotonMenuDetalle, 10%);
    }
  }
}

#notifidelete {
  background-color: $background-color;
  color: white;
}

#detalles {
  margin-top: $margin-top;
}

/* Estilos tags */
#ps5 {
  background-color: aquamarine;
  color: $colorFondoIconos;
}

#ps4 {
  background-color: lightsalmon;
  color: $colorFondoIconos;
}

#pc {
  background-color: lightpink;
  color: $colorFondoIconos;
}

#xbox {
  background-color: rgb(240, 240, 167);
  color: $colorFondoIconos;
}

#xboxX {
  background-color: lightcoral;
  color: $colorFondoIconos;
}

#switch {
  background-color: lightseagreen;
  color: $colorFondoIconos;
}

/* Estilos para cards */
.card {
  .card-content {

    .title {
      color: $cardTitleColor;

    }

    .modal-card-head {
      background-color: $cardTitleColor;
    }


    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-bottom: 1rem;

    }

    .button {
      margin-top: 1rem;

    }


  }
}
/* Estilos para modals */
.modal {
  .modal-background {
    background-color: rgba(0, 0, 0, 0.7);

  }

  .modal-card {
    background-color: $background-color;
    color: $background-color;


    .modal-card-title {
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }

    .modal-card-body {
      padding: 1.5rem;
      text-align: justify;

    }

    .modal-card-head {
      background-color: $background-color;
    }

    .delete {
      color: $background-color;

    }
  }

}