@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Define variables for common colors
$primary-bg-color: #1789fc;
$secondary-bg-color: #b2e7e9;
$border-color: #e4e2e2;
$text-color: #333;
$high-contrast-text-color: #fff;

// Define a mixin for high-contrast styles
@mixin high-contrast {
  background-color: $primary-bg-color;
  color: $high-contrast-text-color;
}
